@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* * {
  cursor: none;
} */

.link {
  transition: all 200ms ease-in;
}

.link:hover {
  cursor: none;
  background: #f8c90c6d;
  border-radius: 15px;
  padding: 1px 5px;
  /* padding: 7px 10px; */
}